.input {
    height: 40px;

}

.zone {
    width: 200px;
    height: 20px;
    border: 1;
}

.bouton {
    width: 200px;
    height: 20px;
    border: 2px;
    font-family: sans-serif;
    font-size: medium;
}

#erreur {
    color: brown;
}

.menu{
    text-align: right;
    font-family: monospace;
    font-size: 20px;
}

.menu a{
  text-decoration: none;
  color: maroon;
}

.menu a:hover{
   color: gray;
}